.flex-column {
  flex-direction: column;

  div {
    margin-bottom: 10px;
  }
}

.password-generator {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #d8d8d8;

  .password-field {
    border: 1px solid #9a9a9a;
    display: flex;
    .password-input {
      border: 0;
      width: 100%;
      height: 40px;
    }
  }

  label {
    display: flex;
    margin: 10px 0;

    span {
      margin: 0 10px;
    }
  }

  input[type="range"] {
    width: 100%;
  }

  input[type="checkbox"] {
    margin-right: 8px;
  }

  .generate-button {
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    font-weight: 700;
    color: #000;
    background-color: #5affd8;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
  }

  .error {
    color: red;
    margin: 10px 0;
  }
}